
  .detail-price {
    display: flex;
    justify-content: start;
    font-size: 50px; /* Adjust font size for the price */
    color: #8adba1; /* Choose a color for the price text */
  }
  p{ font-size: 20px;}

  .outlined-btn {
    background-color: transparent;
    border: 2px solid #7190d8;
    color: #5f79bc;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }